* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
}

window#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#cpu,
#temperature,
#pulseaudio,
#network,
#custom-vpn_toggle,
#clock,
#battery,
#tray {
  border-radius: 6px;
  margin: 3px 1px;
  padding: 4px 8px;
  color: #181825;
}


#battery {
  background-color: #a6e3a1;
}


#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #FFFF00;
}

#battery.charging {
  background-color: #a6e3a1;
  color: #181825;
}


#temperature {
  background-color: #df8e1d;
}

#pulseaudio {
  background-color: #94e2d5;
}

#network {
  background-color: #89dceb;
}

#custom-vpn_toggle {
  background-color: #7287fd;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: #cba6f7;
}

#tray {
  background-color: #4fd6be;
}

#memory{
  background-color: #fab387;
}

#cpu{
  background-color: #f9e2af;
}


tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
